---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "I'm Xwbx",
  title: "About",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">About</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>Hi, I am Xwbx, the core developer of Mooncell Wiki and PRTS Wiki.</p>
    <ul class="list-inside list-disc">
      <li>👀 I’m interested in Rust / JavaScript / TypeScript</li>
      <li>🌱 I’m currently learning Rust</li>
    </ul>
  </div>
</PageLayout>
